@{
    Layout = "_MS4Layout";
}
    <br />

    <div class="col-md-12 text-center" style="background-color:lightblue;color:darkblue;padding:5px;"><h2>CN Computation</h2>
    </div>
    <div class="col-md-12">
       @RenderBody()
    </div>
   
