@{
    ViewData["Title"] = "About";
}
<div class="container">
    <h2>@ViewData["Title"]</h2>
    @*<h3>@ViewData["Message"]</h3>*@

    <p>MS4 Analysis is an online tool to calculate water drainage patterns affected by develeopments.</p>
</div>