@{
    ViewData["Title"] = "Contact";
}
<div class="container">
    <h2>@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3>

    <address>
        123 MS4 Way<br />
        Atlanta, GA<br />
        <span class="glyphicon glyphicon-phone text-primary"></span>
        @*<abbr title="Phone">P:</abbr>*@
        222.555.6666
    </address>

    <address>
        <strong>Support:</strong> <span class="glyphicon glyphicon-envelope"></span>
        <a href="mailto:Support@example.com">Support@ms4.com</a><br />
        <strong>Marketing:</strong> <span class="glyphicon glyphicon-envelope"></span>
        <a href="mailto:Marketing@example.com">Marketing@ms4.com</a>
    </address>
</div>