@{
    Layout = "_MS4Layout";
}
<div class="col-md-10">
    <br />
    <div class="container">
        <div class="col-md-10 text-center" style="background-color:lightblue;color:darkblue;padding:5px;"><h2>CN Computation</h2></div>

        @RenderBody()
    </div>
</div>