@{
    Layout = "_MS4Layout";
}
@{
    ViewData["Title"] = "ms4_analysis_main";
}

<br />


    <div class="col-md-12 text-center" style="background-color:lightblue;color:darkblue;padding:5px;">
        <h2>Analysis Tools Selection</h2>
    </div>
    <div class="col-md-12">
        <h3>Select the analysis tools from left panel</h3>
        <p>An introduction/guide of the navigation pattern for the calculation will be given here.</p>
    </div>




