@{
    Layout = "_layout";
}

<div class="row">
    <div class="col-md-2">
        <br />
        <br />
        <!--<h1 class="my-4">Category</h1>-->
        <div class="list-group">
            <a asp-area="" asp-controller="MS4Analysis" asp-action="Index" class="list-group-item btn btn-default">CN Computation</a>
            <a href="/to_add" class="list-group-item btn">Item 1</a>
            <a href="/to_add" class="list-group-item">Item 2</a>
            <a href="/to_add" class="list-group-item">Item 3</a>
            <a href="/to_add" class="list-group-item">Item 4</a>
            <a href="/to_add" class="list-group-item">Item 5</a>
        </div>
    </div>
    <div class="col-md-9">
        @RenderBody()
    </div>

</div>