@{
    Layout = "_CnComputationLayout";
}

@{
    ViewData["Title"] = "CnSelectionCompute";
}

@ViewBag.cnCompute

@ViewBag.AArea
@*@ViewBag.BArea

@foreach (var a in @ViewBag.BArea)
{ 
    <p>@a</p>
}*@