@{
    Layout = "_CnComputationLayout";
}

@{
    ViewData["Title"] = "CnComputationViewEdit";
}
<p>ViewBag.ItemsAll</p>
<p>ViewBag.ItemsSelected</p>

@using MS4App.Models.CalculationViewModels;


@*@foreach (var ite in ViewBag.ItemsAll)
{
    <p>@ite</p>

}*@


@*querry from databases*@